*
{
	box-sizing: border-box;
}
html
{
	position: relative;
	min-height: 100%;
}
body
{
	color: #777777;
	border: 2px solid #dddddd;
	background-image: url('../images/cork-wallet.png');	
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

footer
{
	clear: both;
	background-color: #666666;
	border-top: 12px solid #4aaaa5;
	text-align: center;
	padding: 3%;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #ffffff;
}
header
{
	background-color: #ffffff;
	border-bottom: : 2px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

input
{
	width: 100%;
	padding-bottom: 1%;
	padding-top: 1%;
	font-size: 13px;
}
a
{
	color: inherit;
 	text-decoration: inherit;
}
.wrapper
{
	width: 960px;
}
.myName

{
	background-color: #4aaaa5;
	color: #ffffff;
	width: 38%;
	font-size: 200%;
	padding: 2%;
    float: left;
    margin-left: 11%;
    margin-top: 2%;

}

.otherLink
{
	background-color: #ffffff;
	width: 16%;
	font-size: 125%;
	padding: 2%;
	float: right;
	margin-top: 2%

}

.contactLink
{
	margin-right: -16%;
}

.aboutMe
{
	background-color: #ffffff;
	float: left;
	width: 650px;
	position: relative;
	left: 11%;
	margin-top: 4%;
	padding: 1%;
	margin-bottom: 5%;

}

.pageTitle
{
	clear: both;	
	color: #4aaaa5;
	font-size: 180%;
	padding-top: 2%;
	padding-bottom: 3%;
	padding-left: 3%;
	margin-left: 5%;	
	font-family: 'Georgia', Times, 'Times New Roman', serif;		
}
.profilePic
{
	width: 30%;
	float: left;
	margin-right: 3%;
}

.firstParagraph
{
	width: 98%;
    margin: -1%;
    padding: 1%;
}

.secondParagraph
{
    width: 98%;
    margin: -1%;
    padding: 1%;
}
.conectWith
{
	float: right;
    width: 270px;
    height: 34%;
    padding: 3%;
    font-size: 180%;
    position: absolute;
    top: 22%;
    right: 22.5%;
    background-color: #fff;
    text-align: center;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.socialIcon{
	width: 28%;
    padding: 4%;
    float: none;
}

.portfolioImage
{
	width: 33%;
    margin: 7%;
    display: inline-block;
}

.imageContainer
{
	background-color: white;
	width: 50%;
	height:50%;
	float: left;
	position: relative;
	left: -38%;
    margin-top: 3%;
    margin-bottom: 15%;
    padding: 2%;
}

.imageHolder
{
	position: relative;
}

.imageHolder span
{
	position: absolute;
    left: 9%;
    top: 62%;
    background-color: blue;
    width: 30%;
    text-align: center;
}

.contactMe
{
	background-color: #ffffff;
	float: left;
	width: 45%;
	position: relative;
	left: -31%;
	margin-top: 4%;
	padding: 1%;
	margin-bottom: 13%;
	font-size: 139%;
	line-height: 150%;
	
}

.submitBtn
{
	background-color: #4aaaa5;
	width: 23%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    color: #ffffff;
    padding-right: 3%;
}

